services:
  spark-master:
    image: spark:3.5.3-scala2.12-java17-python3-ubuntu
    container_name: spark-master
    # FIX: Run as root to allow writing to bind mounts
    user: root
    environment:
      - SPARK_MASTER_HOST=spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master
    volumes:
       - ./work:/opt/spark/work-dir

  spark-worker-1:
    image: spark:3.5.3-scala2.12-java17-python3-ubuntu
    container_name: spark-worker-1
    # FIX: Run as root to allow writing to bind mounts
    user: root
    environment:
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1G
    depends_on:
      - spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    volumes:
       - ./work:/opt/spark/work-dir

  spark-worker-2:
    image: spark:3.5.3-scala2.12-java17-python3-ubuntu
    container_name: spark-worker-2
    # FIX: Run as root to allow writing to bind mounts
    user: root
    environment:
      - SPARK_WORKER_CORES=1
      - SPARK_WORKER_MEMORY=1G
    depends_on:
      - spark-master
    command: /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077
    volumes:
       - ./work:/opt/spark/work-dir

  spark-client:
    build:
      context: .
      dockerfile: Dockerfile.client
    container_name: spark-client
    # FIX: Run as root to allow writing to bind mounts
    user: root
    ports:
      - "8888:8888"
      - "4040:4040"
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      # Pre-load Delta JARs
      - PYSPARK_SUBMIT_ARGS=--packages io.delta:delta-spark_2.12:3.0.0 --conf spark.sql.extensions=io.delta.sql.DeltaSparkSessionExtension --conf spark.sql.catalog.spark_catalog=org.apache.spark.sql.delta.catalog.DeltaCatalog pyspark-shell
    depends_on:
      - spark-master
    command: jupyter lab --ip=0.0.0.0 --port=8888 --no-browser --allow-root --NotebookApp.token=''
    volumes:
       - ./work:/opt/spark/work-dir